@charset "utf-8";
/* dialog样式 */
* {
  box-sizing: border-box;
}
img {
  box-sizing: content-box;
}

.wrapper {
    margin: 0 auto;
    padding: 10px;
    position: relative;
    font-family: sans-serif;
}

/*tab样式框大小*/
.tabhead {
}

.tabhead .tab {
  border-radius: 4px 4px 0 0;
  padding: 0 4px;
}

.tabbody {
    position: relative;
    padding: 15px;
}

.tabbody .panel {
    background: #fff;
    display: none;
}

.tabbody .panel.focus {
    display: block;
}

/* 远程图片样式 */
#remote {
    z-index: 200;
}

#remote .top{
    width: 100%;
}
#remote .left{
    display: block;
    float: left;
    width: 300px;
    height:10px;
}
#remote .right{
    display: block;
    float: right;
    width: 300px;
    height:10px;
}
#remote .row{
    clear: both;
}

#remote .row label{
    width: 50px;
    zoom:1;
    _display: inline;
    display:inline-block;
    vertical-align: middle;
}

input.text, textarea{
    width: 150px;
    padding: 3px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input.text:focus, textarea:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
#url{
    width: 500px;
    display: none;
    margin-bottom: 2px;
}
#latex {
  width: 100%;
  margin-bottom: 2px;
  resize: none;
  height: 150px;
  font-family: monospace;
  font-size: 18px;
}

#remote #preview{
    clear: both;
    width: 100%;
    height: 130px;
    line-height: 130px;
    text-align: center;
    z-index: 9999;
    margin-top: 10px;
    background-color: #eee;
    overflow: hidden;
}

.element-invisible {
    width: 0 !important;
    height: 0 !important;
    border: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
}

#math-field {
  display: block;
  padding: 0.5em;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  height: 260px;
  max-height: 260px;
  font-size: 18px;
}

#math-field.mq-focused {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}  

.math-result {
  margin-top: 5px;
  font-family: monaco, arial, sans-serif;
  font-size: 13px;
}
.help-block {
  margin-top: 5px;
}

.clear {
  clear: both;
}

/*formula popup*/
.btn-insert-formula {
  color: #08c;
  float: right;
  text-decoration: initial;
}

.edui-popup {
  background: url(images/pop-bg.png) repeat #fff;
  display: none;
  padding: 2px;
}

.edui-popup .edui-popup-body {
    border: 1px solid #bfbfbf;
    background-color: #fff;
}
.edui-formula-wrapper {
  padding: 15px;
}


.edui-tab-text {
  border-bottom-color: transparent;
  background-color: #fff;
  padding: 8px 12px;
  color: #555;
}
.edui-popup .edui-popup-caret.up {
    background: url(images/caret.png) no-repeat 0 0;
}
.edui-popup .edui-popup-caret {
    width: 21px;
    height: 11px;
}

ul.edui-tab-nav {
    border-bottom: 1px solid #dcdcdc;
}

li.edui-tab-item {
    float: left;
    padding: 10px 0;
    margin: 0 5px;
}

li.edui-tab-item.edui-active {
    border: 1px solid #dcdcdc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}
li.edui-tab-item a {
  color: #08c;
  cursor: pointer;
  text-decoration: initial;
}

li.edui-tab-item.edui-active a {
  color: #999;
}

.edui-popup-formula .edui-formula-wrapper .edui-tab-pane .edui-formula-latex-item {
    display: block;
    float: left;
    margin: 0px 3px 3px 0px;
    width: 30px;
    height: 30px;
    border: 1px solid #cccccc;
    background-image: url("images/formula.png");
    cursor: pointer;
}

.edui-tab-content {
  margin-top: 5px;
}

.edui-tab-pane {
  display: none;
}

.edui-tab-pane.edui-active {
  display: block;
}



