.item-latex {
  vertical-align: middle;
}
.item-blank {
  border-bottom: 1px solid #cdcdcd;
  color: #999;
  display: inline-block;
  height: 1.6em;
  margin: auto 5px;
  min-width: 60px;
  padding: 0 5px;
  text-align: center;
  vertical-align: middle;
}
