/* 工具栏 */
.edui-default .edui-toolbar {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    padding: 1px;
    overflow: hidden; /*全屏下单独一行不占位*/
    zoom: 1;
    width:auto;
    height:auto;
    line-height: initial;
}

.edui-default .edui-toolbar .edui-button,
.edui-default .edui-toolbar .edui-splitbutton,
.edui-default .edui-toolbar .edui-menubutton,
.edui-default .edui-toolbar .edui-combox {
    margin: 1px;
}
.edui-default .edui-for-brackets .edui-label,
.edui-default .edui-for-itemblank .edui-label,
.edui-default .edui-for-roman1 .edui-label,
.edui-default .edui-for-roman2 .edui-label,
.edui-default .edui-for-roman3 .edui-label,
.edui-default .edui-for-roman4 .edui-label, 
.edui-default .edui-for-roman5 .edui-label,
.edui-default .edui-for-roman6 .edui-label, 
.edui-default .edui-for-roman7 .edui-label {
	width: 20px;
	text-align:center;
}

